$min-width: 900px;

section.portfolioPage {
  width: 100%;
  height: 100%;
  padding: 60px;
  background: radial-gradient(ellipse, var(--cream), #fff);
}

.container {
  padding-top: 2em;
  
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;     

    h2 {
      margin-bottom: 1.25em;
      color: var(--orange);
    }

    .projectGroup {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 30px;
      width: 90%;

      .project {
        position: relative;
        border: 1px solid var(--brown);

        a {
          .image {
            display: flex;
            justify-content: center;  
  
            img {
              width: 100%;
            }
          }

          .image::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            opacity: 0;
            transition: opacity .3s ease-out;
            z-index: 1;
          }

          p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2em;
          color: white;
          text-align: center;
          opacity: 0;
          transition: opacity .6s ease-out;
          z-index: 2;
          }                   
        }        
      }

      .project:hover a .image::before {
        opacity: 0.4;
      }

      .project:hover a p {
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: $min-width) {
  section.portfolioPage {
    .container {
      .projectGroup {
        width: 80%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
        grid-template-areas: 
          "todoList todoList alphaShop alphaShop"
          "restaurants restaurants revealCards revealCards";
        
        .project:nth-child(1) {
          grid-area: todoList;
        }

        .project:nth-child(2) {
          grid-area: alphaShop;
        }

        .project:nth-child(3) {
          grid-area: restaurants;
        }

        .project:nth-child(4) {
          grid-area: revealCards;
        }

      }
    }
  }
}